body{
    background: #e6b550;
    text-align: center;
}
section{
overflow: auto;
padding: 20px;
margin: 20px;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:#edca80;
  text-align: center;
}
footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background: #edca80;
  text-align: right;
  color: #0e4e06;
}
hr{
border-top: 3px solid #28a324;
border-style: double;
position: relative
}

div > img {
    height: 600px;
    width: 900px;
    border-radius: 17%;
}

.mydiv{
  height: 40px;
}

button:hover{
background: #edca80;
}

h2{
  font-family: 'Roboto Condensed', Helvetica, Arial, sans-serif;
    color: #19660e
}

.images{
  border-radius: 30%;
}
 .add{
  height: 25px;
  width: 25px;
  margin-left: 380px;
  
}

#ex{
  border-radius: 10%;
  background-color: #a0b958;
  align-items: center;
}

ul > li {
  font-size: larger;
  padding: 10px 5px 10px 10px;
  text-align: start;
  list-style-type: none;
  color: #0e4e06
}
ul {
  margin: 0;
  padding: 40px 580px 0px 490px;
}
li > img {
  float: right;
}

input{
 font-size: 23px;
  background-color: gainsboro ;
  color: #0e4e06  
}


input[type="image"]{
  margin-left: -35px;
  margin-bottom: -6px;
  
  
 }
 